
<table>
  <tr>
    <thead>
      <th>Name</th>
      <th>value</th>
    </thead>
  </tr>
  <tbody>
  <tr *ngFor = "let boards of _dataSource">
  <td>{{boards.name}}</td>
  <td>{{boards.ip}}</td>
  <td *ngIf="boards.status; else elseBlock"> <mat-icon matSuffix>wifi</mat-icon></td>
  <ng-template #elseBlock> <mat-icon matSuffix>wifi_off</mat-icon></ng-template>
  <td><button mat-button (click)="openDialog(boards.name)"><mat-icon >edit</mat-icon> Edit</button></td>
  <td><button mat-button (click)="openDeleteDialog(boards.name)"><mat-icon >delete_forever</mat-icon> Delete</button></td>
  <td><button mat-button (click)="openPinTest(boards.name)"><mat-icon >science</mat-icon> Test Pins</button></td>
</tr>
 </tbody>
</table>
