<p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="boardData.name">
    <mat-icon matSuffix>local_offer</mat-icon>
    <mat-hint>need to be Unique</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>IP Adress</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="boardData.ip">
    <mat-icon matSuffix>insert_link</mat-icon>
    <mat-hint>Find and Fix in your Router buy give static IP</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Placeholder" type="password"  [(ngModel)]="boardData.pass">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div >
  <button mat-button (click)="addPin()" ><mat-icon >add</mat-icon> add Pin</button>
  <table mat-table>
    <th>Name</th>
    <th>Pin Number</th>
    <th>Type</th>
    <th>onLoad</th>
    <th></th>
    <tr *ngFor="let pin of boardData.pins">
      <td>{{pin.name}}</td>
      <td>{{pin.number}}</td>
      <td>{{pin.type}}</td>
      <td>{{pin.onload}}</td>
      <td><button mat-button (click)="openPinDialog(pin.id)"><mat-icon >edit</mat-icon> Edit</button></td>
    </tr>
  </table>
</div>
<p>
  <mat-slide-toggle [(ngModel)]="boardData.status">Status: {{boardData.status}}</mat-slide-toggle>
</p>
<button mat-button mat-dialog-close>Cancel</button>
<button mat-button (click)="saveBoard()" >Save</button>